In [1]:
import pandas as pd

In [2]:
path_in = '../data/'
path_out = '../data/PBI/'

In [3]:
def set_gender(x):
    if x == 'Mujer-Hombre':
        return 'Distinto sexo'
    elif x == 'Mujeres':
        return 'Mismo sexo'
    elif x == 'Hombres':
        return 'Mismo sexo'
    elif x == 'Entre personas del mismo sexo':
        return 'Mismo sexo'
    elif x == 'Entre personas de distinto sexo':
        return 'Distinto sexo'

In [4]:
def set_tip_separation(x):
    if x == 'Divorcio de mutuo acuerdo':
        return 'Acuerdo'
    elif x == 'Divorcio contencioso':
        return 'Contencioso'
    elif x == 'Separación de mutuo acuerdo':
        return 'Acuerdo'
    elif x == 'Separación contenciosa':
        return 'Contencioso'

In [5]:
df_pop = pd.read_csv(path_in + 'population.csv')
df_pop

        Sexo                                   Estado civil  Periodo    Total
0    Hombres                              Solteros/Solteras     2021  7585500
1    Hombres                              Solteros/Solteras     2020  7462400
2    Hombres                              Solteros/Solteras     2019  7329900
3    Hombres                              Solteros/Solteras     2018  7083300
4    Hombres                              Solteros/Solteras     2017  6988700
..       ...                                            ...      ...      ...
131  Mujeres  Separados/Separadas o Divorciados/Divorciadas     2009  1040500
132  Mujeres  Separados/Separadas o Divorciados/Divorciadas     2008  1005500
133  Mujeres  Separados/Separadas o Divorciados/Divorciadas     2007   982100
134  Mujeres  Separados/Separadas o Divorciados/Divorciadas     2006   868600
135  Mujeres  Separados/Separadas o Divorciados/Divorciadas     2005   813000

[136 rows x 4 columns]

In [7]:
df_mar = pd.read_csv(path_in + 'marriages.csv')
df_mar

           Provincias  Periodo   Total          Sexo
0         02 Albacete     2020     552  Mujer-Hombre
1         02 Albacete     2019    1203  Mujer-Hombre
2         02 Albacete     2018    1267  Mujer-Hombre
3         02 Albacete     2017    1367  Mujer-Hombre
4         02 Albacete     2016    1417  Mujer-Hombre
...               ...      ...     ...           ...
2456     No residente     2006      36       Hombres
2457     No residente     2005      13       Hombres
2458  Sin identificar     2021  142788  Mujer-Hombre
2459  Sin identificar     2021    2158       Hombres
2460  Sin identificar     2021    2877       Mujeres

[2461 rows x 4 columns]

In [8]:
df_mar['Tipo sexo'] = df_mar.apply(lambda x: set_gender(x['Sexo']), axis=1)
df_mar

           Provincias  Periodo   Total          Sexo      Tipo sexo
0         02 Albacete     2020     552  Mujer-Hombre  Distinto sexo
1         02 Albacete     2019    1203  Mujer-Hombre  Distinto sexo
2         02 Albacete     2018    1267  Mujer-Hombre  Distinto sexo
3         02 Albacete     2017    1367  Mujer-Hombre  Distinto sexo
4         02 Albacete     2016    1417  Mujer-Hombre  Distinto sexo
...               ...      ...     ...           ...            ...
2456     No residente     2006      36       Hombres     Mismo sexo
2457     No residente     2005      13       Hombres     Mismo sexo
2458  Sin identificar     2021  142788  Mujer-Hombre  Distinto sexo
2459  Sin identificar     2021    2158       Hombres     Mismo sexo
2460  Sin identificar     2021    2877       Mujeres     Mismo sexo

[2461 rows x 5 columns]

In [9]:
df_div = pd.read_csv(path_in + 'divorces.csv')
df_div

    Periodo          Sexo           Tipo de divorcio  Total
0      2021  Mujer-Hombre  Divorcio de mutuo acuerdo  66969
1      2020  Mujer-Hombre  Divorcio de mutuo acuerdo  61766
2      2019  Mujer-Hombre  Divorcio de mutuo acuerdo  71370
3      2018  Mujer-Hombre  Divorcio de mutuo acuerdo  73029
4      2017  Mujer-Hombre  Divorcio de mutuo acuerdo  74758
5      2016  Mujer-Hombre  Divorcio de mutuo acuerdo  72959
6      2015  Mujer-Hombre  Divorcio de mutuo acuerdo  72529
7      2014  Mujer-Hombre  Divorcio de mutuo acuerdo  75908
8      2013  Mujer-Hombre  Divorcio de mutuo acuerdo  71499
9      2021  Mujer-Hombre       Divorcio contencioso  18209
10     2020  Mujer-Hombre       Divorcio contencioso  14338
11     2019  Mujer-Hombre       Divorcio contencioso  19176
12     2018  Mujer-Hombre       Divorcio contencioso  21083
13     2017  Mujer-Hombre       Divorcio contencioso  22164
14     2016  Mujer-Hombre       Divorcio contencioso  22542
15     2015  Mujer-Hombre       Divorcio contencioso  23156
16     2014  Mujer-Hombre       Divorcio contencioso  23974
17     2013  Mujer-Hombre       Divorcio contencioso  23386
18     2021       Hombres  Divorcio de mutuo acuerdo    800
19     2020       Hombres  Divorcio de mutuo acuerdo    469
20     2019       Hombres  Divorcio de mutuo acuerdo    455
21     2018       Hombres  Divorcio de mutuo acuerdo    502
22     2017       Hombres  Divorcio de mutuo acuerdo    420
23     2016       Hombres  Divorcio de mutuo acuerdo    749
24     2015       Hombres  Divorcio de mutuo acuerdo    425
25     2014       Hombres  Divorcio de mutuo acuerdo    410
26     2013       Hombres  Divorcio de mutuo acuerdo    274
27     2021       Mujeres  Divorcio de mutuo acuerdo    680
28     2020       Mujeres  Divorcio de mutuo acuerdo    502
29     2019       Mujeres  Divorcio de mutuo acuerdo    473
30     2018       Mujeres  Divorcio de mutuo acuerdo    449
31     2017       Mujeres  Divorcio de mutuo acuerdo    438
32     2016       Mujeres  Divorcio de mutuo acuerdo    454
33     2015       Mujeres  Divorcio de mutuo acuerdo    324
34     2014       Mujeres  Divorcio de mutuo acuerdo    328
35     2013       Mujeres  Divorcio de mutuo acuerdo    187
36     2021       Hombres       Divorcio contencioso    100
37     2020       Hombres       Divorcio contencioso     75
38     2019       Hombres       Divorcio contencioso    104
39     2018       Hombres       Divorcio contencioso     94
40     2017       Hombres       Divorcio contencioso    106
41     2016       Hombres       Divorcio contencioso     71
42     2015       Hombres       Divorcio contencioso     64
43     2014       Hombres       Divorcio contencioso     73
44     2013       Hombres       Divorcio contencioso     47
45     2021       Mujeres       Divorcio contencioso     92
46     2020       Mujeres       Divorcio contencioso     48
47     2019       Mujeres       Divorcio contencioso     67
48     2018       Mujeres       Divorcio contencioso     97
49     2017       Mujeres       Divorcio contencioso     74
50     2016       Mujeres       Divorcio contencioso     49
51     2015       Mujeres       Divorcio contencioso     64
52     2014       Mujeres       Divorcio contencioso     53
53     2013       Mujeres       Divorcio contencioso     34

In [10]:
df_div['Tipo sexo'] = df_div.apply(lambda x: set_gender(x['Sexo']), axis=1)
df_div['Tipo separacion'] = df_div.apply(lambda x: set_tip_separation(x['Tipo de divorcio']), axis=1)
df_div

,Periodo,Sexo,Tipo de divorcio,Total,Tipo sexo,Tipo separacion
0,2021,Mujer-Hombre,Divorcio de mutuo acuerdo,66969,Distinto sexo,Acuerdo
1,2020,Mujer-Hombre,Divorcio de mutuo acuerdo,61766,Distinto sexo,Acuerdo
2,2019,Mujer-Hombre,Divorcio de mutuo acuerdo,71370,Distinto sexo,Acuerdo
3,2018,Mujer-Hombre,Divorcio de mutuo acuerdo,73029,Distinto sexo,Acuerdo
4,2017,Mujer-Hombre,Divorcio de mutuo acuerdo,74758,Distinto sexo,Acuerdo
5,2016,Mujer-Hombre,Divorcio de mutuo acuerdo,72959,Distinto sexo,Acuerdo
6,2015,Mujer-Hombre,Divorcio de mutuo acuerdo,72529,Distinto sexo,Acuerdo
7,2014,Mujer-Hombre,Divorcio de mutuo acuerdo,75908,Distinto sexo,Acuerdo
8,2013,Mujer-Hombre,Divorcio de mutuo acuerdo,71499,Distinto sexo,Acuerdo
9,2021,Mujer-Hombre,Divorcio contencioso,18209,Distinto sexo,Contencioso
10,2020,Mujer-Hombre,Divorcio contencioso,14338,Distinto sexo,Contencioso
11,2019,Mujer-Hombre,Divorcio contencioso,19176,Distinto sexo,Contencioso
12,2018,Mujer-Hombre,Divorcio contencioso,21083,Distinto sexo,Contencioso
13,2017,Mujer-Hombre,Divorcio contencioso,22164,Distinto sexo,Contencioso
14,2016,Mujer-Hombre,Divorcio contencioso,22542,Distinto sexo,Contencioso
15,2015,Mujer-Hombre,Divorcio contencioso,23156,Distinto sexo,Contencioso
16,2014,Mujer-Hombre,Divorcio contencioso,23974,Distinto sexo,Contencioso
17,2013,Mujer-Hombre,Divorcio contencioso,23386,Distinto sexo,Contencioso
18,2021,Hombres,Divorcio de mutuo acuerdo,800,Mismo sexo,Acuerdo
19,2020,Hombres,Divorcio de mutuo acuerdo,469,Mismo sexo,Acuerdo
20,2019,Hombres,Divorcio de mutuo acuerdo,455,Mismo sexo,Acuerdo
21,2018,Hombres,Divorcio de mutuo acuerdo,502,Mismo sexo,Acuerdo
22,2017,Hombres,Divorcio de mutuo acuerdo,420,Mismo sexo,Acuerdo
23,2016,Hombres,Divorcio de mutuo acuerdo,749,Mismo sexo,Acuerdo
24,2015,Hombres,Divorcio de mutuo acuerdo,425,Mismo sexo,Acuerdo
25,2014,Hombres,Divorcio de mutuo acuerdo,410,Mismo sexo,Acuerdo
26,2013,Hombres,Divorcio de mutuo acuerdo,274,Mismo sexo,Acuerdo
27,2021,Mujeres,Divorcio de mutuo acuerdo,680,Mismo sexo,Acuerdo
28,2020,Mujeres,Divorcio de mutuo acuerdo,502,Mismo sexo,Acuerdo
29,2019,Mujeres,Divorcio de mutuo acuerdo,473,Mismo sexo,Acuerdo
30,2018,Mujeres,Divorcio de mutuo acuerdo,449,Mismo sexo,Acuerdo
31,2017,Mujeres,Divorcio de mutuo acuerdo,438,Mismo sexo,Acuerdo
32,2016,Mujeres,Divorcio de mutuo acuerdo,454,Mismo sexo,Acuerdo
33,2015,Mujeres,Divorcio de mutuo acuerdo,324,Mismo sexo,Acuerdo
34,2014,Mujeres,Divorcio de mutuo acuerdo,328,Mismo sexo,Acuerdo
35,2013,Mujeres,Divorcio de mutuo acuerdo,187,Mismo sexo,Acuerdo
36,2021,Hombres,Divorcio contencioso,100,Mismo sexo,Contencioso
37,2020,Hombres,Divorcio contencioso,75,Mismo sexo,Contencioso
38,2019,Hombres,Divorcio contencioso,104,Mismo sexo,Contencioso
39,2018,Hombres,Divorcio contencioso,94,Mismo sexo,Contencioso
40,2017,Hombres,Divorcio contencioso,106,Mismo sexo,Contencioso
41,2016,Hombres,Divorcio contencioso,71,Mismo sexo,Contencioso
42,2015,Hombres,Divorcio contencioso,64,Mismo sexo,Contencioso
43,2014,Hombres,Divorcio contencioso,73,Mismo sexo,Contencioso
44,2013,Hombres,Divorcio contencioso,47,Mismo sexo,Contencioso
45,2021,Mujeres,Divorcio contencioso,92,Mismo sexo,Contencioso
46,2020,Mujeres,Divorcio contencioso,48,Mismo sexo,Contencioso
47,2019,Mujeres,Divorcio contencioso,67,Mismo sexo,Contencioso
48,2018,Mujeres,Divorcio contencioso,97,Mismo sexo,Contencioso
49,2017,Mujeres,Divorcio contencioso,74,Mismo sexo,Contencioso
50,2016,Mujeres,Divorcio contencioso,49,Mismo sexo,Contencioso
51,2015,Mujeres,Divorcio contencioso,64,Mismo sexo,Contencioso
52,2014,Mujeres,Divorcio contencioso,53,Mismo sexo,Contencioso
53,2013,Mujeres,Divorcio contencioso,34,Mismo sexo,Contencioso

In [11]:
df_sep = pd.read_csv(path_in + 'separations.csv')
df_sep

,Tipo de separación,Tipo de matrimonio,Periodo,Total
0,Separación de mutuo acuerdo,Entre personas del mismo sexo,2021,63
1,Separación de mutuo acuerdo,Entre personas del mismo sexo,2020,2
2,Separación de mutuo acuerdo,Entre personas del mismo sexo,2019,19
3,Separación de mutuo acuerdo,Entre personas del mismo sexo,2018,8
4,Separación de mutuo acuerdo,Entre personas del mismo sexo,2017,15
5,Separación de mutuo acuerdo,Entre personas del mismo sexo,2016,34
6,Separación de mutuo acuerdo,Entre personas del mismo sexo,2015,8
7,Separación de mutuo acuerdo,Entre personas del mismo sexo,2014,8
8,Separación de mutuo acuerdo,Entre personas del mismo sexo,2013,4
9,Separación de mutuo acuerdo,Entre personas de distinto sexo,2021,3166
10,Separación de mutuo acuerdo,Entre personas de distinto sexo,2020,2467
11,Separación de mutuo acuerdo,Entre personas de distinto sexo,2019,3101
12,Separación de mutuo acuerdo,Entre personas de distinto sexo,2018,3480
13,Separación de mutuo acuerdo,Entre personas de distinto sexo,2017,3573
14,Separación de mutuo acuerdo,Entre personas de distinto sexo,2016,3672
15,Separación de mutuo acuerdo,Entre personas de distinto sexo,2015,4005
16,Separación de mutuo acuerdo,Entre personas de distinto sexo,2014,4299
17,Separación de mutuo acuerdo,Entre personas de distinto sexo,2013,4106
18,Separación contenciosa,Entre personas del mismo sexo,2021,4
19,Separación contenciosa,Entre personas del mismo sexo,2020,2
20,Separación contenciosa,Entre personas del mismo sexo,2019,0
21,Separación contenciosa,Entre personas del mismo sexo,2018,3
22,Separación contenciosa,Entre personas del mismo sexo,2017,10
23,Separación contenciosa,Entre personas del mismo sexo,2016,3
24,Separación contenciosa,Entre personas del mismo sexo,2015,2
25,Separación contenciosa,Entre personas del mismo sexo,2014,1
26,Separación contenciosa,Entre personas del mismo sexo,2013,0
27,Separación contenciosa,Entre personas de distinto sexo,2021,440
28,Separación contenciosa,Entre personas de distinto sexo,2020,304
29,Separación contenciosa,Entre personas de distinto sexo,2019,479
30,Separación contenciosa,Entre personas de distinto sexo,2018,607
31,Separación contenciosa,Entre personas de distinto sexo,2017,683
32,Separación contenciosa,Entre personas de distinto sexo,2016,645
33,Separación contenciosa,Entre personas de distinto sexo,2015,637
34,Separación contenciosa,Entre personas de distinto sexo,2014,726
35,Separación contenciosa,Entre personas de distinto sexo,2013,790

In [12]:
df_sep['Tipo sexo'] = df_sep.apply(lambda x: set_gender(x['Tipo de matrimonio']), axis=1)
df_sep['Tipo separacion'] = df_sep.apply(lambda x: set_tip_separation(x['Tipo de separación']), axis=1)
df_sep

,Tipo de separación,Tipo de matrimonio,Periodo,Total,Tipo sexo,Tipo separacion
0,Separación de mutuo acuerdo,Entre personas del mismo sexo,2021,63,Mismo sexo,Acuerdo
1,Separación de mutuo acuerdo,Entre personas del mismo sexo,2020,2,Mismo sexo,Acuerdo
2,Separación de mutuo acuerdo,Entre personas del mismo sexo,2019,19,Mismo sexo,Acuerdo
3,Separación de mutuo acuerdo,Entre personas del mismo sexo,2018,8,Mismo sexo,Acuerdo
4,Separación de mutuo acuerdo,Entre personas del mismo sexo,2017,15,Mismo sexo,Acuerdo
5,Separación de mutuo acuerdo,Entre personas del mismo sexo,2016,34,Mismo sexo,Acuerdo
6,Separación de mutuo acuerdo,Entre personas del mismo sexo,2015,8,Mismo sexo,Acuerdo
7,Separación de mutuo acuerdo,Entre personas del mismo sexo,2014,8,Mismo sexo,Acuerdo
8,Separación de mutuo acuerdo,Entre personas del mismo sexo,2013,4,Mismo sexo,Acuerdo
9,Separación de mutuo acuerdo,Entre personas de distinto sexo,2021,3166,Distinto sexo,Acuerdo
10,Separación de mutuo acuerdo,Entre personas de distinto sexo,2020,2467,Distinto sexo,Acuerdo
11,Separación de mutuo acuerdo,Entre personas de distinto sexo,2019,3101,Distinto sexo,Acuerdo
12,Separación de mutuo acuerdo,Entre personas de distinto sexo,2018,3480,Distinto sexo,Acuerdo
13,Separación de mutuo acuerdo,Entre personas de distinto sexo,2017,3573,Distinto sexo,Acuerdo
14,Separación de mutuo acuerdo,Entre personas de distinto sexo,2016,3672,Distinto sexo,Acuerdo
15,Separación de mutuo acuerdo,Entre personas de distinto sexo,2015,4005,Distinto sexo,Acuerdo
16,Separación de mutuo acuerdo,Entre personas de distinto sexo,2014,4299,Distinto sexo,Acuerdo
17,Separación de mutuo acuerdo,Entre personas de distinto sexo,2013,4106,Distinto sexo,Acuerdo
18,Separación contenciosa,Entre personas del mismo sexo,2021,4,Mismo sexo,Contencioso
19,Separación contenciosa,Entre personas del mismo sexo,2020,2,Mismo sexo,Contencioso
20,Separación contenciosa,Entre personas del mismo sexo,2019,0,Mismo sexo,Contencioso
21,Separación contenciosa,Entre personas del mismo sexo,2018,3,Mismo sexo,Contencioso
22,Separación contenciosa,Entre personas del mismo sexo,2017,10,Mismo sexo,Contencioso
23,Separación contenciosa,Entre personas del mismo sexo,2016,3,Mismo sexo,Contencioso
24,Separación contenciosa,Entre personas del mismo sexo,2015,2,Mismo sexo,Contencioso
25,Separación contenciosa,Entre personas del mismo sexo,2014,1,Mismo sexo,Contencioso
26,Separación contenciosa,Entre personas del mismo sexo,2013,0,Mismo sexo,Contencioso
27,Separación contenciosa,Entre personas de distinto sexo,2021,440,Distinto sexo,Contencioso
28,Separación contenciosa,Entre personas de distinto sexo,2020,304,Distinto sexo,Contencioso
29,Separación contenciosa,Entre personas de distinto sexo,2019,479,Distinto sexo,Contencioso
30,Separación contenciosa,Entre personas de distinto sexo,2018,607,Distinto sexo,Contencioso
31,Separación contenciosa,Entre personas de distinto sexo,2017,683,Distinto sexo,Contencioso
32,Separación contenciosa,Entre personas de distinto sexo,2016,645,Distinto sexo,Contencioso
33,Separación contenciosa,Entre personas de distinto sexo,2015,637,Distinto sexo,Contencioso
34,Separación contenciosa,Entre personas de distinto sexo,2014,726,Distinto sexo,Contencioso
35,Separación contenciosa,Entre personas de distinto sexo,2013,790,Distinto sexo,Contencioso

In [13]:
df_nul = pd.read_csv(path_in + 'nulties.csv')
df_nul

                 Tipo de matrimonio  Periodo  Total
0     Entre personas del mismo sexo     2021      0
1     Entre personas del mismo sexo     2020      1
2     Entre personas del mismo sexo     2019      4
3     Entre personas del mismo sexo     2018      2
4     Entre personas del mismo sexo     2017      0
5     Entre personas del mismo sexo     2016      2
6     Entre personas del mismo sexo     2015      6
7     Entre personas del mismo sexo     2014      0
8     Entre personas del mismo sexo     2013      3
9   Entre personas de distinto sexo     2021     57
10  Entre personas de distinto sexo     2020     39
11  Entre personas de distinto sexo     2019     71
12  Entre personas de distinto sexo     2018     90
13  Entre personas de distinto sexo     2017    100
14  Entre personas de distinto sexo     2016    115
15  Entre personas de distinto sexo     2015    138
16  Entre personas de distinto sexo     2014    113
17  Entre personas de distinto sexo     2013    107

In [14]:
df_nul['Tipo sexo'] = df_nul.apply(lambda x: set_gender(x['Tipo de matrimonio']), axis=1)
df_nul

                 Tipo de matrimonio  Periodo  Total      Tipo sexo
0     Entre personas del mismo sexo     2021      0     Mismo sexo
1     Entre personas del mismo sexo     2020      1     Mismo sexo
2     Entre personas del mismo sexo     2019      4     Mismo sexo
3     Entre personas del mismo sexo     2018      2     Mismo sexo
4     Entre personas del mismo sexo     2017      0     Mismo sexo
5     Entre personas del mismo sexo     2016      2     Mismo sexo
6     Entre personas del mismo sexo     2015      6     Mismo sexo
7     Entre personas del mismo sexo     2014      0     Mismo sexo
8     Entre personas del mismo sexo     2013      3     Mismo sexo
9   Entre personas de distinto sexo     2021     57  Distinto sexo
10  Entre personas de distinto sexo     2020     39  Distinto sexo
11  Entre personas de distinto sexo     2019     71  Distinto sexo
12  Entre personas de distinto sexo     2018     90  Distinto sexo
13  Entre personas de distinto sexo     2017    100  Distinto sexo
14  Entre personas de distinto sexo     2016    115  Distinto sexo
15  Entre personas de distinto sexo     2015    138  Distinto sexo
16  Entre personas de distinto sexo     2014    113  Distinto sexo
17  Entre personas de distinto sexo     2013    107  Distinto sexo

In [15]:
df_mar['Tipo rel'] = 'Matrimonio'
df_div['Tipo rel'] = 'Divorcio'
df_sep['Tipo rel'] = 'Separación'
df_nul['Tipo rel'] = 'Nulidad'

In [16]:
df_div.head(5)

,Periodo,Sexo,Tipo de divorcio,Total,Tipo sexo,Tipo separacion,Tipo rel
0,2021,Mujer-Hombre,Divorcio de mutuo acuerdo,66969,Distinto sexo,Acuerdo,Divorcio
1,2020,Mujer-Hombre,Divorcio de mutuo acuerdo,61766,Distinto sexo,Acuerdo,Divorcio
2,2019,Mujer-Hombre,Divorcio de mutuo acuerdo,71370,Distinto sexo,Acuerdo,Divorcio
3,2018,Mujer-Hombre,Divorcio de mutuo acuerdo,73029,Distinto sexo,Acuerdo,Divorcio
4,2017,Mujer-Hombre,Divorcio de mutuo acuerdo,74758,Distinto sexo,Acuerdo,Divorcio

In [17]:
df_sep.head(5)

,Tipo de separación,Tipo de matrimonio,Periodo,Total,Tipo sexo,Tipo separacion,Tipo rel
0,Separación de mutuo acuerdo,Entre personas del mismo sexo,2021,63,Mismo sexo,Acuerdo,Separación
1,Separación de mutuo acuerdo,Entre personas del mismo sexo,2020,2,Mismo sexo,Acuerdo,Separación
2,Separación de mutuo acuerdo,Entre personas del mismo sexo,2019,19,Mismo sexo,Acuerdo,Separación
3,Separación de mutuo acuerdo,Entre personas del mismo sexo,2018,8,Mismo sexo,Acuerdo,Separación
4,Separación de mutuo acuerdo,Entre personas del mismo sexo,2017,15,Mismo sexo,Acuerdo,Separación

In [18]:
df_relations = pd.concat([df_mar, df_div, df_sep, df_nul], ignore_index=True, sort=False)
df_relations

,Provincias,Periodo,Total,Sexo,Tipo sexo,Tipo rel,Tipo de divorcio,Tipo separacion,Tipo de separación,Tipo de matrimonio
0,02 Albacete,2020,552,Mujer-Hombre,Distinto sexo,Matrimonio,NaN,NaN,NaN,NaN
1,02 Albacete,2019,1203,Mujer-Hombre,Distinto sexo,Matrimonio,NaN,NaN,NaN,NaN
2,02 Albacete,2018,1267,Mujer-Hombre,Distinto sexo,Matrimonio,NaN,NaN,NaN,NaN
3,02 Albacete,2017,1367,Mujer-Hombre,Distinto sexo,Matrimonio,NaN,NaN,NaN,NaN
4,02 Albacete,2016,1417,Mujer-Hombre,Distinto sexo,Matrimonio,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2564,NaN,2017,100,NaN,Distinto sexo,Nulidad,NaN,NaN,NaN,Entre personas de distinto sexo
2565,NaN,2016,115,NaN,Distinto sexo,Nulidad,NaN,NaN,NaN,Entre personas de distinto sexo
2566,NaN,2015,138,NaN,Distinto sexo,Nulidad,NaN,NaN,NaN,Entre personas de distinto sexo
2567,NaN,2014,113,NaN,Distinto sexo,Nulidad,NaN,NaN,NaN,Entre personas de distinto sexo
2568,NaN,2013,107,NaN,Distinto sexo,Nulidad,NaN,NaN,NaN,Entre personas de distinto sexo

In [19]:
df_relations.groupby(['Tipo rel'])['Tipo rel'].count()

Tipo rel
Divorcio        54
Matrimonio    2461
Nulidad         18
Separación      36
Name: Tipo rel, dtype: int64

In [20]:
print('divorcio ', len(df_div))
print('matrimonio ', len(df_mar))
print('nulidad ', len(df_nul))
print('separacion ', len(df_sep))

divorcio  54
matrimonio  2461
nulidad  18
separacion  36

In [21]:
df_pop.to_csv(path_out + 'population.csv', index=False) # dataset relations PBI

In [22]:
df_relations.to_csv(path_out + 'relations.csv', index=False) # dataset relations PBI

In [ ]:
df_mar_group = df_mar.groupby(['Periodo', 
                               'Tipo sexo'])[['Total']].sum().reset_index().rename(columns={'Total': 
                                                                                            'Total matrimonios'})
df_mar_group

In [ ]:
df_div_group = df_div.groupby(['Periodo', 
                               'Tipo sexo'])[['Total']].sum().reset_index().rename(columns={'Total': 
                                                                                            'Total divorcios'})
df_div_group

In [ ]:
df_sep_group = df_sep.groupby(['Periodo', 
                               'Tipo sexo'])[['Total']].sum().reset_index().rename(columns={'Total': 
                                                                                            'Total separaciones'})
df_sep_group

In [ ]:
df_nul_group = df_nul.groupby(['Periodo', 
                               'Tipo sexo'])[['Total']].sum().reset_index().rename(columns={'Total': 
                                                                                            'Total nulidades'})
df_nul_group

In [ ]:
df_relations = df_mar_group.merge(df_div_group) \
                           .merge(df_sep_group) \
                           .merge(df_nul_group)
df_relations